.header {
  width: 960px;
  margin: 0 auto;
  font-size: 12px;
}
.header .common-header-logo {
  float: left;
  padding-top: 18px;
}
.header .common-about {
  float: right;
  padding-right: 15px;
  padding-left: 300px;
  line-height: 46px;
}
.header .common-about li {
  float: left;
}
.header .common-about li a {
  display: inline-block;
}
.header .common-login {
  float: right;
}
.header .common-login input {
  width: 96px;
}
.header .common-login .common-user {
  float: left;
}
.header .common-login .common-psw {
  float: left;
  padding-left: 10px;
}
.header .common-login #common-submit {
  width: 48px;
  height: 22px;
  color: #f9733d;
  font-size: 12px;
  margin-left: 15px;
}
.header .common-header-nav li {
  float: left;
  color: #e1e3e6;
  background: linear-gradient(#ffffff, #eef2f6);
}
.header .common-header-nav li a {
  line-height: 47px;
  display: inline-block;
  padding: 0 19px 0 19px;
  color: #7a7a7a;
  font-weight: bold;
}
